<header class="header-area">
    <div class="header-top">
        <div class="container">
            <div class="header-top-wrapper d-flex flex-wrap justify-content-sm-between">
                <div class="header-top-left mt-10">
                   
                </div>
                <div class="header-top-right mt-10">
                    <div class="header-link">

                        <a class="login" routerLink="/login" style="font-family: 'Times New Roman', Times, serif; font-size: medium; color: aliceblue;">Login</a>
                        <a class="register"  style="font-family: 'Times New Roman', Times, serif; font-size: medium; color: aliceblue;">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="navigation" class="navigation navigation-landscape">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="header-logo">
                        <a routerLink="/"><img class="img img-fluid" src="../../../assets/images/logo.webp" width="135" height="88" alt="Logo"></a>
                    </div>
                </div>
                <div class="col-lg-7 position-static">
                    <div class="nav-toggle"></div>
                    <nav class="nav-menus-wrapper">
                        <ul class="nav-menu">
                          
                            <li>
                                <a routerLink="/courses">Courses</a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li>
                                        <a href="#">Courses Grid</a>
                                        <ul class="nav-dropdown nav-submenu">
                                            <li><a href="our-courses.html">Courses 01</a></li>
                                            <li><a href="our-courses-2.html">Courses 02</a></li>
                                            <li><a href="our-courses-3.html">Courses 03</a></li>
                                            <li><a href="our-courses-left-sidebar.html">Courses Left Sidebar</a></li>
                                            <li><a href="our-courses-right-sidebar.html">Courses Right Sidebar</a></li>
                                        </ul>
                                    </li>  
                                    <li>
                                        <a href="#">Courses</a>
                                        <ul class="nav-dropdown nav-submenu">
                                            <li><a href="our-courses-list.html">Courses List</a></li>
                                            <li><a href="our-courses-list-left-sidebar.html">Courses List Left Sidebar </a></li>
                                            <li><a href="our-courses-list-right-sidebar.html">Courses List Right Sidebar</a></li>                                                    
                                        </ul>
                                    </li>                                            
                                    <li><a href="courses-details.html">Courses Details</a></li>
                                </ul>
                            </li>
                            <li>
                                <a routerLink="/events">Events</a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a href="event.html">Event 01</a></li>
                                    <li><a href="event-2.html">Event 02</a></li>
                                    <li><a href="event-details.html">Event Details</a></li>
                                </ul>
                            </li>
                            <li>
                                <a routerLink="/teachers">Teachers</a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a href="about-us.html">About</a></li>
                                    <li><a href="teachers.html">Teachers</a></li>
                                    <li><a href="teacher-details.html">Teachers Details</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="/students">Students</a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a href="shop.html">Shop </a></li>
                                    <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                    <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                    <li><a href="product-details.html">Shop Details</a></li>
                                </ul>
                            </li>
                            <li>
                                <a routerLink="/classes/listclasses">Classes</a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a href="blog.html">Blog </a></li>
                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-right-sideba.html">Blog Right Sidebar</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li>
                                <a routerLink="/stages">Stages</a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a href="blog.html">Blog </a></li>
                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-right-sideba.html">Blog Right Sidebar</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-2 position-static">
                    <div class="header-search">
                        <form action="#">
                            <input type="text" placeholder="Search">
                            <button><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>